.progress{
   width: 90%;
   height: 18px;
   position: absolute;
   top: 50%;
   left: 5%;
   margin-top: -9px;
   border: 1px solid #ccc;
   border-radius: 9px;
   padding: 2px;
   box-sizing: border-box;
   position: relative;
}
.progress>p{
   position: absolute;
   color: #4c4c4c;
   left: 50%;
   top: 20px;
   margin-left: -8px;
}
.progress .outB{
   width: 0%;
   height: 100%;
   border-radius: 8px;
   background: #fff;
   overflow: hidden;
   max-width: 100%;
}
.progress .outB .main{
   background: linear-gradient(to right, #f9cad2 , #8ada40, #65d8de);
   width: 100%;
   height: 100%; 
}