@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1592207946283'); /* IE9 */
  src: url('iconfont.eot?t=1592207946283#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKsAAsAAAAABmwAAAJfAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApwgQEBNgIkAwgLBgAEIAWEbQc1G6wFEdWLVbKfBXYbdULh1MCKSeoRwGAjSfY/Guz7EEH9fujefy+ICgA9oEPQUVFxcVjdKtepUKRboRiEjt83l/+IhR2hQvIUFUihDc4mvHmbORKyda5CqP6/s//C4zYNMO9lVpzeG4ZhmPJ4AeAT907/BPogrXfe5biXjbFxUhdgvLGA9sYosgJJM24Yu+AF3idQqcOYWHl4+8RUZi8LxEWehpgW/LLMUuVCacPejHgCJcqLH/QaPI4+H38xE1MolCTYa7fO7xPsfuAHpOv/GmcBAQECPFyChDFkYq8xvmEgGJdUxod6OFZp8AMe/gO7OKpFsL/OLq4GbVD6TDJP/qjiBcgMpxeDk75Jql4u/E3uqeHa3xJryAhvfh8ybkzyzKnZVnsWDFx1p6+MjM+qei3qF5xDLLB/lqbQGT0EV4fNn7+xX/liCHjLXl8iczbMCeU7tYefIxvYkA2FbSuyJmtMF3qlk5ZVqsQDsLvRh6nGljtJh3It9+Ms054hKddHZnYMJarMoVS5eVQatX64SpNLA5FnYMQjgFDvKQq1niOp94bM7HuUaPUfpepjgEoHYc6sMhBkPj8aDoUTim6Ux7pRrkPmcek7p6cqNHlFxPtm0+Uhci2nnHrkhs0SG7pz6okoUkbX9AAe46rS1BpdcCxWJtJubVs1vciKdY05joZD4YSiG+WxblTQWuaV979zeqpC01FXl/xm0+Wjk2s5A8hHbTOo7lGe6c6pJ6JIGV3TA5jFVaWpbZ5VcCxWNiHabm2nmRqqtbbX13+3DWAO29TvOVsHWIjWacV+zc0JAAAA') format('woff2'),
  url('iconfont.woff?t=1592207946283') format('woff'),
  url('iconfont.ttf?t=1592207946283') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1592207946283#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icontoogle_menu:before {
  content: "\e600";
}

