table{
    width: 100%;
    table-layout: fixed;
}
table tr th,table tr td{
    line-height: 36px;
    border-bottom: 1px solid #f1f1f1;
    text-align: left;
    padding: 0 8px;
    font-weight: normal;
    color: #4d4d4d;
    font-size: 14px;
    background: #fff;
}
table tr th{
    background: #f5f5f5;
}